* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.heading-brushes,
.heading-frames, 
.heading-paint {
    font-size: 32px;
    color: white;
    font-weight: bold;
    min-width: 375px;
}

.banner-title {
    background-image: url("../images/pattern.jpeg");
    height: auto;
    width: 100%;
    margin-top: 60px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    align-items: center;
    color: khaki;
    min-width: 375px;
}

.heading-brushes {
    background-color: mediumspringgreen;
}

.heading-frames {
    background-color: lightcoral;
}

.heading-paint {
    background-color: skyblue;
}

/* could be in html? */
.img {
    height: 250px;
    width: 250px;
}

.price {
    display: inline;
    font-weight: bold;
    color: blue;
}

h2,
p {
    min-width: 375px;
}